/* hoja 1 */

#section-inicio{
    background: url(/imagenes/Section-inicio.jpeg);
    background-size: 125% 100%;
    height: 1000px;
    position: relative;
    margin-top: 2em;
}

#div-inicio1{
    margin: 0 auto;
    height: 550px;
    width: 45%;
    background: #000000d4;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#div-inicio1 img{
    margin-top: 3rem;
    margin-left:9rem ;
    width: 50%;
}

#div-inicio2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    text-align: center;
    font-size: 25px;
    width: 70%;
}

#p1-inicio{
    margin-top: 4rem;
    margin-bottom: 3rem;
    font-size:50px ;
    font-style: normal;
}

/* Titulo */

#titulo{
    background: #0230c4;
    height: 180px;
    width: 100%;
    position: relative;
    font-size: 10px;
    }

#div-inicio2-1{
    display: flex;
    justify-content: center;
}
        
#p1-inicio2{
    color: #ffffff;
    font-size: 45px;
    text-align: center;
    margin-top: 3rem;
    font-family: serif;
}

/* hoja 2 */

#section-inicio2{
background: #0230c4;
height: 2000px;
width: 100%;
overflow: hidden;
}

#padre-games{
    background-color: #ffffff;
    height: 1800px;
    width: 80%;
    margin: 0 auto;
    position: relative;
}

.games{
    background: #ff0000;
    height: 500px;
    width: 25%;
    margin: 2.5rem;
    display: inline-block;
}