/* hoja 1 */

#section-inicio{
    background: url(/imagenes/Section-inicio.jpeg);
    background-size: 125% 100%;
    height: 800px;
    position: relative;
    margin-top: 2em;
}

#div-inicio1{
    margin: 0 auto;
    height: 550px;
    width: 45%;
    background: #000000d4;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#div-inicio1 img{
    margin-top: 3rem;
    margin-left:9rem ;
    width: 50%;
}

#div-inicio2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    text-align: center;
    font-size: 25px;
    width: 70%;
}

#p1-inicio{
    margin-top: 4rem;
    margin-bottom: 3rem;
    font-size:50px ;
    font-style: normal;
}

/* Titulo */

#titulo{
    background: #0230c4;
    height: 180px;
    width: 100%;
    position: relative;
    font-size: 10px;
    }

#div-inicio2-1{
    display: flex;
    justify-content: center;
}
        
#p1-inicio2{
    color: #ffffff;
    font-size: 45px;
    text-align: center;
    margin-top: 3rem;
    font-family: sans-serif;
}

/* hoja 2 */

#section-inicio2{
background: linear-gradient(#0230c4,#2051ef,#0230c4,#2051ef,#0230c4);
height: 2200px;
width: 100%;
}

#padre-games{
    background-color: transparent;
    height: 2150px;
    width: 90%;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.games{
    background: transparent;
    height: 500px;
    width: 25%;
    margin: 2.8rem;
    
    border-radius: 30px;
}

.games img{
    width: 100%;
    height: 70%;
    border-radius: 30px;
    box-shadow: 0 0.3rem 0.3rem #000000;
}

.games-titulo{
    color: #ffffff;
    font-size: 30px;
    text-align: center;
    margin-top: 1rem;
    font-family: sans-serif;
}

.games-descripcion{
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    margin-top: 1.2rem;
    font-family: sans-serif;
    line-height: 1.5em;
}