*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
background: url(imagenes/fondo1.jpg);
background-size: cover;
background-attachment: fixed;
}

main{
    width: 1250px;
    background-color: transparent;
    margin: 0 auto;
}

/* header general */

header{
    padding: 130px;
    background: url(imagenes/header.jpeg);
    background-size:  100% 100%;
    border: 1px solid #000000;
}

nav{
    width: 35%;
    float: right;
    margin-top: 10px;
}

nav ul li{
    display:  inline-block;
}

nav ul li a{
text-decoration: none;
background: #ffffff;
color: #000000;
padding: 10px;
border-radius: 10px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 20px;
}

nav ul li a:hover{
    color: #ffffff;
    background-color:transparent;
    border: 3px solid white;
}

/* hoja 1 */

#section1{
    background: url(/imagenes/Game-Horizon.jpg);
    background-size: 120% 130%;
    margin-top: 2em;
    height: 650px;
}

.logo{
    width: 30%;
    float: left;
}

.logo img{
    width: 250px;
}

.section{
    padding:80px ;
    margin: 5rem;
    margin-top: 30px;
}

.section img{
    border-image-slice: 100%;
}

#logo-horizon{
    filter: drop-shadow(0px 0px 7px #000000);
}

.txt1{
    font: small-caps 100%/200% serif;
    padding: 50px;
    margin-left: 3rem;
    font: serif;
    font-size: 35px;
    color: #ffffff;
    text-shadow: 1px 1px 1px #000000
}

.texto-lateral{
padding: 30px;
margin-left: 4rem;
float: left;
width: 40%;
text-align: justify;
font-size: 20px;
color: #ffffff;
text-shadow: 1px 1px 1px black;
font-family: sans-serif;
}

.clear{
    clear: both;
}

.button1{
    padding: 30px;
    margin-left: 4rem;
}

.button1 a{
    text-decoration: none;
    background: #ffffff;
    color: #000000;
    border:3px solid #ffffff;
    border-radius: 50px;
    padding: 3px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    display:  inline-block;
}
.button1 a:hover{
    background: transparent;
    color: #ffffff;
    border:3px solid #ffffff;
    text-shadow: 1px 1px 1px #000000;
}

/* hoja 2 */

#section2{
    background: url(/imagenes/Elden-Ring.png);
    height: 650px;
    background-size: 100% 100%;
    margin-top: 2em;
}

#logo-elden{
    width: 35%;
    float: right;
    margin-right: 2.5rem;
    filter: drop-shadow(0px 0px 7px #000000);
}

.txt2{
    font: small-caps 100%/200% serif;
    padding-left: 36.5%;
    font: serif;
    font-size: 35px;
    color: #ffffff;
    text-shadow: 1px 1px 1px #000000;
    width: 80%;
    float: right;
    text-align: right;
    margin-right: 4.5rem;
}

.texto-lateral2{
    padding: 50px;
    margin-top: 2rem;
    margin-right: 1.5rem;
    width: 45%;
    text-align: right;
    font-size: 20px;
    color: #ffffff;
    text-shadow: 1px 1px 1px black;
    float: right;
    font-family: sans-serif;
}

.button2{
    padding: 30px;
    margin-right: 3rem;
    float: right;
}
    
.button2 a{
    text-decoration: none;
    background: #ffffff;
    color: #000000;
    border:3px solid #ffffff;
    border-radius: 50px;
    padding: 3px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    display:  inline-block;
}

.button2 a:hover{
    background: transparent;
    color: #ffffff;
    border:3px solid #ffffff;
    text-shadow: 1px 1px 1px #000000;
}    

/* hoja 3 */

#section3{
    background: url(/imagenes/gran-turismo.jpg);
    background-size: 100% 100%;
    margin-top: 2em;
    height: 650px;
}

.logo{
    width:20%;
    float: left;
}

.logo img{
    width: 250px;
}

.section{
    padding:80px ;
    margin: 5rem;
    margin-top: 30px;
}

.section img{
    border-image-slice: 100%;
}

#logo-turismo{
    filter: drop-shadow(0px 0px 7px #000000);
    width: 22%;
    margin-top: 2rem;
    margin-left: 6rem;
}

.txt3{
    font: small-caps 100%/200% serif;
    padding: 50px;
    margin-left: 3rem;
    font: serif;
    font-size: 35px;
    color: #ffffff;
    text-shadow: 1px 1px 1px #000000
}

.texto-lateral3{
padding: 30px;
margin-left: 4rem;
float: left;
width: 45%;
text-align: justify;
font-size: 20px;
color: #ffffff;
text-shadow: 1px 1px 1px black;
font-family: sans-serif;
}

.clear{
    clear: both;
}

.button3{
    padding: 30px;
    margin-left: 4rem;
}

.button3 a{
    text-decoration: none;
    background: #ffffff;
    color: #000000;
    border:3px solid #ffffff;
    border-radius: 50px;
    padding: 3px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    display:  inline-block;
}
.button3 a:hover{
    background: transparent;
    color: #ffffff;
    border:3px solid #ffffff;
    text-shadow: 1px 1px 1px #000000;
}

/* hoja 4 */

#section4{
    background: url(/imagenes/Assassins\ creed.jpeg);
    height: 650px;
    background-size: 100% 100%;
    margin-top: 2em;
}

#logo-assassin{
    width: 35%;
    float: right;
    margin-top: 1rem;
    margin-right: 6rem;
    filter: drop-shadow(0px 0px 2px #000000);
}

.txt4{
    font: small-caps 100%/200% serif;
    padding-left: 36.5%;
    font: serif;
    font-size: 35px;
    color: #ffffff;
    text-shadow: 1px 1px 1px #000000;
    width: 80%;
    float: right;
    text-align: right;
    margin-right: 4.5rem;
    margin-top: 4rem;
}

.texto-lateral4{
    padding: 50px;
    margin-top: 1.5rem;
    margin-right: 1.5rem;
    width: 40%;
    text-align: right;
    font-size: 20px;
    color: #ffffff;
    text-shadow: 1px 1px 1px #000000;
    float: right;
    font-family: sans-serif;
    word-spacing: 5px;
}

.button4{
    padding: 20px;
    margin-right: 3rem;
    float: right;
}
    
.button4 a{
    text-decoration: none;
    background: #ffffff;
    color: #000000;
    border:3px solid #ffffff;
    border-radius: 50px;
    padding: 3px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    display:  inline-block;
    border: 3px solid rgba(255, 255, 255, 0.362);
}

.button4 a:hover{
    background: transparent;
    color: #ffffff;
    border:3px solid #ffffff;
    text-shadow: 1px 1px 1px #000000;
}    

/* hoja 5 */

#section5{
    background: url(/imagenes/Ghostwire.jpg);
    background-size: 100% 100%;
    margin-top: 2em;
    height: 650px;
}

.logo{
    width: 30%;
    float: left;
}

.logo img{
    width: 250px;
}

.section{
    padding:80px ;
    margin: 5rem;
    margin-top: 30px;
}

.section img{
    border-image-slice: 100%;
}

#logo-vacio{
    width: 30%;
    height: 200px;
    background-color: transparent;
    margin-left: 6em;
}

.txt5{
    font: small-caps 100%/200% serif;
    padding: 50px;
    margin-left: 3rem;
    font: serif;
    font-size: 35px;
    color: #ffffff;
    text-shadow: 1px 1px 1px #000000
}

.texto-lateral5{
padding: 30px;
margin-left: 4rem;
float: left;
width: 45%;
text-align: justify;
font-size: 20px;
color: #ffffff;
text-shadow: 1px 1px 1px black;
font-family: sans-serif;
}

.clear{
    clear: both;
}

.button5{
    padding: 30px;
    margin-left: 4rem;
}

.button5 a{
    text-decoration: none;
    background: #ffffff;
    color: #000000;
    border:3px solid #ffffff;
    border-radius: 50px;
    padding: 3px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    display:  inline-block;
}
.button5 a:hover{
    background: transparent;
    color: #ffffff;
    border:3px solid #ffffff;
    text-shadow: 1px 1px 1px #000000;
}

/* footer general */

#footer{
    margin-top: 2em;
    align-items: center;
    background: #00439c;
}

#footer div{
    margin-top: 1px;
}

#footer section div img{
    margin-top: 5rem;
    margin-left: 2rem;
    width: 200px;
    height: 120px;
    align-items: center;
}

#footer section{
    background: #00439c;
    height: 300px;
}

#footer section div{
    background: #00439c;
}

#section-footer{
    background: #fbfdff;
    border: #000000 1px solid;
    display: flex;
    overflow: hidden;
}

#section-support{
    display: flex;
    width: 20%;
    text-align: center;
    color: #ffffff;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 8em;
}

#footer-1{
margin-left: 3rem;
margin-right: 3rem;
margin-bottom: 2rem;
white-space: nowrap;
}

#footer-2{
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 2rem;
    white-space: nowrap;
}

#footer-3{
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 2rem;
    white-space: nowrap;
}
