body{
    background: url(/imagenes/fondo1.jpg);
    background-size: cover;
    background-attachment: fixed;
}

#section-registro{
    background:url(/imagenes/body-registrarse.jpeg);
    margin-top: 1em;
    width: 100%;
    height: 720px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#registro{
    background: #ffffff;
    width: 40%;
    height: 650px;
    border:1px solid #000000;
}

#div-header{
    background: #000000;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
}

#div-header img{
    margin: 0 auto;
    width: 20%;
    height: 25px;
    margin-top: 1rem;
}

#div-datos{
    background: #ffffff;
    margin-top: 1em;
    width: 100%;
    height: 550px;
    font-size: 18px;
    font-family: sans-serif;
}

#crear{
    color: #0084ff;
    margin-bottom: 1rem;
    font-size: 25px;
}

.inputs{
    width: 80%;
    height:30px;
    text-align: center;
    font-size: 18px;
    font-family: sans-serif;
    margin: 10px;
    border-radius: 5px;
}

.inputs:hover{
    border:2px solid #0084ff ;
}

.botones{
    width: 15%;
    height: 40px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    background: transparent;
    border-radius: 5px;
}

.botones:hover{
    border:2px solid #0084ff ;
    background: #ffffff;
}
