*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
background: url(imagenes/fondo1.jpg);
background-size: cover;
background-attachment: fixed;
}

main{
    width: 1250px;
    background-color: transparent;
    margin: 0 auto;
}

header{
    padding: 120px;
    background: url(imagenes/header.jpg);
    background-size:  100% 100%;

}

section{
    background: url(/imagenes/Game-Horizon.jpg);
    background-size: 100% 35%;
    margin-top: 2em;
    
}

.logo{
    width: 30%;
    float: left;
}

.logo img{
    width: 250px;
}

.section{
    padding:80px ;
    margin: 5rem;
    margin-top: 30px;
}

.section img{
    border-image-slice: 100%
}

.consola{
    padding: 20px;
    width: 40%;
    float: left;
    margin: 2rem;
    align-items: center;
}

#logo-horizon{
    filter: drop-shadow(0px 0px 7px #000000);
}

.txt1{
    font: small-caps 100%/200% serif;
    padding: 50px;
    margin: 1rem;
    font: serif;
    font-size: 30px;
    color: #ffffff;
    text-shadow: 1px 1px 1px #000000
}

.texto-lateral{
margin: 3rem;
float: left;
width: 40%;
text-align: justify;
font-size: 20px;
color: #ffffff;
text-shadow: 2px 2px 2px black
}

.clear{
    clear: both;
}

nav{
    width: 30%;
    float: right;
    margin-top: 20px;
}

nav ul li{
    display:  inline-block;
    text-transform:uppercase;
}

nav ul li a{
text-decoration: none;
background: #ffffff;
color: #0000ff;
padding: 10px;
border-radius: 10px;
}

nav ul li a:hover{
    color: #ffffff;
    background-color:#0000ff;
}

h1{
    padding: 30px;
    text-align: center;
    font-size: 30px;
}
.ps4{
    width: 40%;
    height: 40%;
    margin: 5rem;
}

.cuadro1{
background:linear-gradient(#0040ff,rgb(141, 160, 248),#0040ff);
margin-top: 3em;
}

#imgps{
    height: 1000px;
    width: 800px;
}



